asgiref==3.2.7
beautifulsoup4==4.9.1
Django==3.0.2
django-bootstrap4==2.0.1
django-cors-headers==3.3.0
django-extensions==2.2.9
djangorestframework==3.11.0
importlib-metadata==1.6.1
pkg-resources==0.0.0
pytz==2020.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
zipp==3.1.0
